/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

.home-page {
  @apply bg-black text-white min-h-screen p-8 px-40 pt-0;
}

/* Start of Layout Component */
.social {
  @apply pl-2 text-2xl;
}

.newsletter form {
  @apply grid grid-cols-2;
}

.newsletter form label {
  @apply col-start-1 col-span-2 text-sm pt-1;
}

.newsletter form input, .form-box .form-group input, .form-box .form-group select {
  @apply rounded-2xl text-sm px-4 pr-12 border-opacity-25 h-8 w-64 text-gray-600;
  border: 1px solid #DAA520;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
}

.newsletter form input:focus, .form-box .form-group input:focus,
.form-box .form-group select:focus, .option-pills .option-pill button:focus {
  @apply outline-none;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.6)
}

.copyright {
  @apply text-center text-sm py-4;
}

.copyright a, .quick-links a, .contact li span, .newsletter .message {
  @apply text-sm;
  color: #DAA520;
}

.footer-container {
  @apply grid grid-cols-6 gap-12 py-4;
}

.footer-container .contact li, .quick-links li{
  @apply flex text-sm pt-1;
  margin: 0;
}

.footer-container .contact {
  @apply col-start-1 col-span-2;
}

.footer-container .contact .contact-icon {
  @apply pr-2 pt-1;
}

.footer-container .newsletter {
  @apply col-end-7 col-span-2;
}

.footer-container .newsletter .newsletter-icon {
  @apply text-2xl ml-16 w-12;
  color: #DAA520;
}
/* End of Layout Component */

/* Start of Home Component */
.button-link {
  @apply rounded-3xl text-sm p-2 px-12 border-opacity-25;
  border: 1px solid #DAA520;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden!important;
  z-index: 10;
}

.button-link:hover {
  border: 1px solid rgba(255, 197, 53, 1);
	color: #000000;
}

.button-link::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(255, 197, 53, 1);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.button-link::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #ffffff;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}

.button-link:hover::before {
	opacity: 1;
	width: 116%;
}

.button-link:hover::after {
	opacity: 1;
	width: 120%;
}

.home-details {
  @apply text-center p-10 m-10;
}

.home-details h2 {
  @apply text-4xl font-hairline mb-8;
}

.home-details .description {
  @apply m-4 pb-4;
}

.summary {
  @apply flex justify-center gap-24;
}

.summary .circle {
  @apply h-40 w-40 p-4 rounded-full text-sm pt-8;
  border: 2px solid #FFC535;
}

.summary .circle span {
  @apply text-3xl;
  color: #DAA520;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 25px;
    height: 40px;
    margin-left: -13px;
    bottom: 10px;
    margin-top: -30px;
    border: 2px solid #DAA520;
    border-radius: 25px
}

@media (max-width: 767px) {
    .icon-scroll {
        position: relative;
    }
}

.icon-scroll:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #DAA520;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(22px)
    }
}

.hero {
  @apply bg-hero-pattern bg-cover bg-center p-8 pt-0 pb-32;
}

.hero h1 {
  @apply text-6xl mt-24 font-hairline;
}

.hero p {
  @apply mb-8;
  color: #DAA520; 
}

.navigation {
  @apply grid grid-cols-2 items-center;
}

.navigation .logo {
  @apply py-6
}

.navigation .menu ul {
  @apply text-right;
}

.navigation .menu ul {
  @apply inline-flex text-sm;
}

.navigation .menu ul li {
  @apply ml-10 pb-2;
}

.navigation .menu ul li:hover {
  color: #DAA520;
  border-bottom: 1px solid #FFC535;
}

@media (max-width: 1200px) {
  .home-page {
    @apply bg-black text-white min-h-screen p-8 px-8;
  }
}

@media (max-width: 800px) {
  .home-page {
    @apply bg-black text-white min-h-screen p-8 px-8;
  }

  .footer-container {
    @apply grid grid-cols-1 mt-16;
  }

  .home-details {
    @apply p-0 m-0 mt-12;
  }

  .summary {
    @apply grid justify-center gap-8;
  }

  .footer-container .contact {
    @apply col-start-1 col-span-1;
  }
  
  .footer-container .newsletter {
    @apply col-end-1 col-span-1;
  }
  
  .footer-container .newsletter .newsletter-icon {
    @apply ml-16;
  }

  .navigation {
    @apply grid grid-cols-1 content-center justify-items-center text-center;
  }

  .hero {
    @apply bg-hero-pattern bg-contain bg-no-repeat bg-center p-8 pt-0 pb-16;
  }
  
  .hero h1 {
    @apply text-5xl mt-12;
  } 
}

@media (max-width: 600px) {
  .navigation .menu ul .no-mobile {
    @apply hidden;
  }

  .hero {
    @apply bg-hero-pattern bg-contain bg-no-repeat bg-center p-8 pt-0 pb-16;
  }
  
  .hero h1 {
    @apply text-4xl mt-8;
  } 
}

/* About Page */
.about-page {
  @apply bg-about-pattern bg-cover bg-center;
}

.about-page .hero, .faq-page .hero, .register-page .hero {
  @apply bg-none;
}

.about-page h1, .faq-page h1 {
  @apply mt-64 mb-8 text-4xl text-center font-hairline;
}

.about-page h6 {
  @apply mt-12 mb-4 text-xl text-center font-hairline;
}

.about-page .about-details ul li::before {
  content: "\2022";
  color: #FFC535;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.about-page .learn {
  @apply mb-24 mt-8 grid justify-items-center;
}
/* End of About page */

/* FAQs page */
.faq-page {
  @apply bg-faq-pattern bg-cover bg-center;
}

.faq-page .faq-details {
  @apply mb-24 mt-12;
}

.faq-question-section {
  @apply grid grid-cols-6 gap-4 items-center pt-6 pb-2;
  border-bottom: 1px solid #FFC535;
}

.faq-question {
  @apply col-start-1 col-span-5;
} 

.faq-show {
  color: #FFC535;
  @apply text-xl justify-self-end col-end-7 col-span-1;
} 

/* End of FAQs page */
/* Register page */
.register-page {
  @apply bg-register-pattern bg-cover bg-center grid grid-cols-1 content-center justify-items-center;
}

.register-page .hero {
  @apply pb-0;
}

.register-page .navigation .menu {
  @apply hidden;
}

.register-page .navigation {
  @apply grid grid-cols-1 content-center justify-items-center text-center;
}

.register-page .footer-container {
  @apply hidden
}

.form-box {
  @apply bg-white rounded-2xl p-8 pt-4 grid grid-cols-1 justify-items-center;
  border: 1px solid #DAA520;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
  width: fit-content;
}

.form-box h1 {
  @apply mb-4 text-3xl text-center font-hairline;
  color: #333333;
}

.form-box label {
  @apply text-sm pl-4 pb-1;
  color: #333333;
}

.form-box .form-input {
  @apply grid grid-cols-2 gap-4;
}

.form-box .form-group input {
  @apply pr-4;
}

.form-box .form-group {
  @apply grid grid-cols-1;
}

.form-box .referral {
  @apply col-span-2;
}

.option-pills {
  @apply flex gap-4 text-sm;
  color: #333333;
}

.option-pills .option-pill {
  @apply px-3 py-1 rounded-2xl text-center;
  background: #FFC535;
  border: 1px solid #FFC535;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
}

.form-button {
  @apply grid grid-cols-1 justify-items-center pt-4 col-span-2;
}

.form-link {
  color: #333333;
  @apply text-center text-sm pt-4;
}

@media (max-width: 800px) {
  .form-box .form-input {
    @apply grid grid-cols-1 gap-3 justify-items-center;
  }

  .form-box .referral {
    @apply col-span-1;
  }

  .option-pills {
    @apply grid grid-cols-2 gap-2;
    color: #333333;
  }

  .form-button {
    @apply col-span-1;
  }
}
/* End of Register page */

/* Protected Layout */
.protected-layout .navigation {
  @apply grid grid-cols-2 bg-black text-white p-8 py-3;
}

.protected-layout .main-section {
  @apply grid grid-cols-6;
}

.protected-layout main {
  @apply col-end-7 col-span-5 p-6;
}

.protected-layout .dashboard-content h3 {
  @apply font-normal text-xl text-left;
}

.protected-layout .dashboard-summary {
  @apply grid grid-cols-4 gap-4;
}

.protected-layout .dashboard-box {
  @apply p-4 rounded-xl;
  background: #FFC535;
}

.protected-layout .dashboard-box-title {
  @apply grid grid-cols-4 text-sm;
}

.protected-layout .dashboard-box-title p {
  @apply col-span-1 leading-4;
}

.protected-layout .dashboard-box-value {
  @apply text-2xl font-semibold text-right;
}

.protected-layout .dashboard-section {
  @apply pt-8 grid grid-cols-3 gap-4;
}

.protected-layout .dashboard-performance {
  @apply col-span-2;
  border-right: 1px solid #333333;
}

.protected-layout .dashboard-news li {
  @apply pt-4 pb-2 text-sm;
  color: #94969A;
  border-bottom: 1px solid #E7E7E7;
}

.protected-layout .profile-image {
  @apply text-4xl pl-20;
  width: fit-content;
}

.protected-layout .profile-header {
  @apply grid grid-cols-2 justify-self-end items-center;
  width: fit-content;
}

.protected-layout .sidebar-container {
  @apply bg-black text-white p-8 pt-12 h-screen;
  border-top-right-radius: 60px;
}

.protected-layout .sidebar-container ul li {
  @apply pb-2 mb-4;
}

.protected-layout .sidebar-container ul li:hover {
  color: #DAA520;
  border-bottom: 2px solid #FFC535;
}

.protected-layout .sidebar-container-extra {
  @apply h-screen pr-3;
  background: #FFC535;
  border-top-right-radius: 55px;
}

.protected-layout .navigation .logo {
  @apply py-0;
}

@media (max-width: 800px) {
  .protected-layout .dashboard-summary {
    @apply grid grid-cols-2;
  }

  .protected-layout .dashboard-section {
    @apply grid grid-cols-1;
  }

  .protected-layout .dashboard-performance {
    @apply col-span-1;
    border: 0;
  }

  .protected-layout .main-section {
    @apply grid grid-cols-4;
  }
  
  .protected-layout main {
    @apply col-end-5 col-span-3 p-6;
  }
}

@media (max-width: 600px) {
  .protected-layout .navigation {
    @apply grid grid-cols-1 content-center items-center;
  }
  
  .protected-layout .profile-header {
    @apply grid grid-cols-2 justify-self-center pt-3;
  }

  .protected-layout .dashboard-summary {
    @apply grid grid-cols-1;
  }

  .protected-layout .main-section {
    @apply grid grid-cols-1;
  }
  
  .protected-layout main {
    @apply col-end-1 col-span-1;
  }
}
/* End of Protected Layout */
/* purgecss end ignore */
@tailwind  utilities;
