/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

.home-page {
  @apply bg-black text-white min-h-screen p-8 px-40 pt-0;
}

/* Start of Layout Component */
.newsletter form {
  @apply grid grid-cols-3 gap-2;
}

.newsletter form label {
  @apply col-start-1 col-span-3 text-sm pt-1;
}

.newsletter form input {
 @apply col-span-2;
}

.newsletter form input, .form-box .form-group input[type='text'], .form-box .form-group textarea,
.form-box .form-group input[type='password'], .form-box .form-group input[type='email'],
.form-box .form-group input[type='number'], .form-box .form-group input[type='url'],
.form-box .form-group select {
  @apply rounded-2xl text-sm px-4 pr-12 border-opacity-25 h-8 w-auto text-gray-600;
  border: 1px solid #DAA520;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
}

.newsletter form input:focus, .form-box .form-group input:focus, .form-box .form-group textarea:focus,
.form-box .form-group select:focus, .option-pills .option-pill button:focus, button:focus {
  outline: 0;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.6);
}

.copyright {
  @apply text-center text-sm py-4;
}

.copyright a, .quick-links a, .contact li span, .newsletter .message {
  @apply text-sm;
  color: #DAA520;
}

.footer-container {
  @apply grid grid-cols-6 gap-12 py-4;
}

.footer-container .contact li, .quick-links li{
  @apply flex text-sm pt-1;
  margin: 0;
}

.footer-container .contact {
  @apply col-start-1 col-span-2;
}

.footer-container .contact .contact-icon {
  @apply pr-2 pt-1;
}

.footer-container .newsletter {
  @apply col-end-7 col-span-2;
}

.mobile-opt, .sidebar-mobile-nav {
  display: none;
}
/* End of Layout Component */

/* Start of Home Component */
.button-link {
  @apply rounded-3xl text-sm p-2 px-12 border-opacity-25;
  border: 1px solid #DAA520;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden!important;
  z-index: 10;
  color: #ffffff;
}

.button-link:hover {
  border: 1px solid rgba(255, 197, 53, 1);
	color: #000000;
}

.button-link::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(255, 197, 53, 1);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.button-link::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #ffffff;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}

.button-link:hover::before {
	opacity: 1;
	width: 116%;
}

.button-link:hover::after {
	opacity: 1;
	width: 120%;
}

.home-details {
  @apply text-center p-10 m-10;
}

.home-details h2 {
  @apply text-4xl font-hairline mb-8 mt-12;
}

.home-details .description {
  @apply m-4 pb-4;
}

.summary {
  @apply flex justify-center gap-24;
}

.summary .circle {
  @apply h-40 w-40 p-4 rounded-full text-sm pt-8;
  border: 2px solid #FFC535;
}

.summary .circle span {
  @apply text-3xl;
  color: #DAA520;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 25px;
    height: 40px;
    margin-left: -13px;
    bottom: 10px;
    margin-top: -30px;
    border: 2px solid #DAA520;
    border-radius: 25px
}

@media (max-width: 767px) {
    .icon-scroll {
        position: relative;
    }
}

.icon-scroll:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #DAA520;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(22px)
    }
}

.hero {
  @apply bg-hero-pattern bg-cover bg-center p-8 pt-0 pb-32;
}

.hero h1 {
  @apply text-6xl mt-24 font-hairline;
  line-height: 1;
  width: 60%;
}

.hero p {
  @apply my-4;
  color: #DAA520; 
}

.mobile-nav, .faqhide1, .faqhide2, .faqhide3, .faqhide4,
.faqhide5, .faqhide6, .faqhide7, .faqanswer1, .faqanswer2,
.faqanswer3, .faqanswer4, .faqanswer5, .faqanswer6, .faqanswer7 {
  @apply hidden;
}

.navigation {
  @apply grid grid-cols-2 items-center;
}

.navigation .logo {
  @apply py-6
}

.navigation .menu ul {
  @apply text-right;
}

.navigation .menu ul {
  @apply inline-flex text-sm;
}

.navigation .menu ul li {
  @apply ml-10 pb-2;
}

.navigation .menu ul li:hover {
  color: #DAA520;
  border-bottom: 1px solid #FFC535;
}

.footer-container .newsletter .newsletter-icon {
  @apply w-auto p-0;
}

@media (max-width: 1200px) {
  .home-page {
    @apply bg-black text-white min-h-screen p-8 px-8;
  }
}

@media (max-width: 800px) {
  .home-page {
    @apply bg-black text-white min-h-screen p-8 px-8;
  }

  .footer-container {
    @apply grid grid-cols-1 mt-16;
  }

  .home-details {
    @apply p-0 m-0 mt-12;
  }

  .summary {
    @apply grid justify-center gap-8;
  }

  .footer-container .contact {
    @apply col-start-1 col-span-1;
  }
  
  .footer-container .newsletter {
    @apply col-end-1 col-span-1;
  }

  .newsletter form input {
    width: auto;
  }
  
  .navigation .menu ul.not-mobile {
    @apply hidden;
  }

  .navigation .mobile-nav {
    color: #DAA520;
    display: block;
    @apply text-4xl grid justify-items-end;
  }

  .hero {
    @apply bg-hero-pattern bg-contain bg-no-repeat bg-center p-4 pt-0 pb-16;
  }
  
  .hero h1 {
    @apply text-4xl mt-12;
  } 
}

@media (max-width: 600px) {
  .hero {
    @apply bg-hero-pattern bg-contain bg-no-repeat bg-center p-2 pt-0 pb-16;
  }
  
  .hero h1 {
    @apply text-2xl mt-8;
    width: 100%;
  } 
}

/* About Page */
.about-page {
  @apply bg-about-pattern bg-cover bg-center;
}

.about-page .hero, .faq-page .hero, .register-page .hero {
  @apply bg-none;
}

.about-page h1, .faq-page h1 {
  @apply mt-64 mb-8 text-4xl text-center font-hairline;
}

.about-page h6 {
  @apply mt-12 mb-4 text-xl text-center font-hairline;
}

.about-page .about-details ul li::before {
  content: "\2022";
  color: #FFC535;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.about-page .learn {
  @apply mb-24 mt-8 grid justify-items-center;
}
/* End of About page */

/* FAQs page */
.faq-page {
  @apply bg-faq-pattern bg-cover bg-center;
}

.faq-page .faq-details {
  @apply mb-24 mt-12;
}

.faq-question-section {
  @apply grid grid-cols-6 gap-4 items-center pt-6 pb-2;
  border-bottom: 1px solid #FFC535;
}

.faq-question {
  @apply col-start-1 col-span-5;
  cursor: pointer;
} 

.faq-answer {
  @apply text-sm col-span-6 rounded;
  color: #FFC535;
}

.faq-show {
  color: #FFC535;
  @apply text-xl justify-self-end col-end-7 col-span-1;
  cursor: pointer;
} 

/* End of FAQs page */
/* Register page */
.register-page {
  @apply bg-register-pattern bg-cover bg-center grid grid-cols-1 content-center justify-items-center;
}

.register-page .hero {
  @apply pb-0;
}

.register-page .navigation .menu {
  @apply hidden;
}

.register-page .navigation {
  @apply grid grid-cols-1 content-center justify-items-center text-center;
}

.register-page .footer-container {
  @apply hidden
}

.form-box {
  @apply bg-white rounded-2xl p-8 pt-4 grid grid-cols-1 justify-items-center;
  border: 1px solid #DAA520;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
  width: fit-content;
}

.form-box h1 {
  @apply mb-4 text-3xl text-center font-hairline;
  color: #333333;
}

.form-box label {
  @apply text-sm pl-4 pb-1;
  color: #333333;
}

.form-box .form-input {
  @apply grid grid-cols-2 gap-4;
}

.form-box .form-group input {
  @apply pr-4;
}

.form-box .form-group {
  @apply grid grid-cols-1;
}

.form-box .referral {
  @apply col-span-2;
}

.option-pills {
  @apply flex gap-4 text-sm;
  color: #333333;
}

.option-pills .option-pill label {
  @apply px-1;
}

.option-pills .option-pill {
  @apply px-2 py-1 rounded-2xl;
  background: #FFC535;
  border: 1px solid #FFC535;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
  cursor: pointer;
}

.option-pills .option-pill input:checked {
  background: #888888;
  color: #ffffff;
}

.error-message {
  background: #C53030;
  color: #ffffff;
  text-align: center;
  @apply rounded w-full p-1 mb-2 text-sm;
}

.errors-message {
  color: #C53030;
  @apply pl-4 text-xs;
}

.success-message {
  background: green;
  color: #ffffff;
  text-align: center;
  @apply rounded w-full p-1 mb-2 text-sm;
}

.form-button {
  @apply grid grid-cols-1 justify-items-center pt-4 col-span-2;
}

.form-link {
  color: #333333;
  @apply text-center text-sm pt-4;
}

@media (max-width: 800px) {
  .form-box .form-input {
    @apply grid grid-cols-1 gap-3 justify-items-center;
  }

  .form-box .referral {
    @apply col-span-1;
  }

  .option-pills {
    @apply grid grid-cols-2 gap-2;
    color: #333333;
  }

  .form-button {
    @apply col-span-1;
  }
}
/* End of Register page */

/* Protected Layout */
.protected-layout .navigation {
  @apply grid grid-cols-2 bg-black text-white p-8 py-3;
}

.protected-layout .main-section {
  @apply grid grid-cols-6;
}

.protected-layout main {
  @apply col-end-7 col-span-5 p-6;
}

.protected-layout .dashboard-content h3, .protected-layout .profile-content h3,
.protected-layout .news-content h3 {
  @apply font-normal text-xl text-left pb-2;
}

.protected-layout .dashboard-summary {
  @apply grid grid-cols-6 gap-4;
}

.protected-layout .dashboard-box {
  @apply rounded-xl;
  background: #FFC535;
}

.dashboard-box-3 {
  @apply col-span-4;
}

.referrallink-page .dashboard-box-3 {
  @apply col-span-6;
}

.protected-layout .dashboard-box-title {
  @apply grid grid-cols-1 px-4 pt-4 text-sm;
}

.protected-layout .dashboard-box-button {
  @apply text-sm text-center py-2 mt-2;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.protected-layout .dashboard-box-title p {
  @apply col-span-1 leading-4;
}

.protected-layout .dashboard-box-value {
  @apply text-lg font-semibold px-4 text-right;
}

.protected-layout .dashboard-box-value p {
  overflow-wrap: break-word;
}

.protected-layout .dashboard-section {
  @apply pt-8 grid grid-cols-2 gap-4;
}

.protected-layout .dashboard-news {
  border-right: 1px solid #333333;
  @apply pr-4;
}

.protected-layout .dashboard-news span {
  @apply text-sm pl-2;
  color: #888888;
}

.protected-layout .dashboard-referral {
  @apply col-span-2;
  overflow: scroll;
}

.protected-layout .dashboard-referral table {
  @apply table-auto border-collapse border border-gray-800 text-sm w-full rounded-xl;
  background: #e7e7e7;
  overflow: hidden;
}

.protected-layout .dashboard-referral table th,
.protected-layout .dashboard-referral table td 
{
  @apply border border-gray-800 text-left p-2;
}

.protected-layout .dashboard-referral table th {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.meeting-section  {
  @apply grid grid-cols-2 items-center;
}

.meeting-button  {
  @apply text-right;
}

.protected-layout .dashboard-news li, .protected-layout .dashboard-meetings li {
  @apply pt-4 pb-2 text-sm;
  color: #94969A;
  border-bottom: 1px solid #E7E7E7;
}

.protected-layout .dashboard-news p {
  color: #94969A;
  @apply text-sm;
}

.protected-layout .profile-image {
  @apply text-4xl pl-20;
  width: fit-content;
}

.protected-layout .profile-header {
  @apply grid grid-cols-2 justify-self-end items-center;
  width: fit-content;
}

.protected-layout .sidebar-container {
  @apply bg-black text-white p-8 pt-12 h-screen;
  border-top-right-radius: 60px;
}

.protected-layout .sidebar-container ul li, .sidebar-mobile-nav .mobile-opt ul li {
  @apply pb-2 mb-4;
}

.protected-layout .sidebar-container ul li:hover {
  color: #DAA520;
  border-bottom: 2px solid #FFC535;
}

.protected-layout .sidebar-container-extra {
  @apply h-screen pr-3;
  background: #FFC535;
  border-top-right-radius: 55px;
}

.protected-layout .navigation .logo {
  @apply py-0;
}

.protected-layout .profile-content .form-box {
  @apply w-auto;
}

.protected-layout .profile-content button {
  @apply text-white;
}

.protected-layout .profile-content button:hover {
  @apply text-black;
}

.head-text:after {
  content: "";
  animation-name: head;
  animation-duration: 34s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes head {
  0% { content:"Earn over $1000 weekly";}
  25% { content:"Take control of your financial freedom";}
  50% { content:"Have you wanted to go to Dubai for free?";}
  75% { content:"Going to Dubai has never been easier";}
  100% { content:"Do you know your next 5 moves financially";}
}

.head-p-text:after {
  content: "";
  animation-name: para;
  animation-duration: 34s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes para {
  0% { content:"Let the professionals guide you...";}
  25% { content:"Your financial freedom starts here...";}
  50% { content:"A unique opportunity awaits you, waste no time";}
  75% { content:"Receive an absolutely paid for 3day accommodation and flight with many more...";}
  100% { content:"Let's help you figure them out";}
}

.social {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  @apply text-xl items-center;
  background: #FFC535;
  z-index: 100;
}

.social i {
  @apply text-4xl px-2;
}

.message-page .dashboard-box-value i {
  @apply text-6xl;
}

textarea {
  height: 100px !important;
  width: 300px !important;
}

@media (max-width: 800px) {
  .mobile-opt {
    z-index: 10;
    @apply bg-black h-screen p-12;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .navigation .menu .mobile-close {
    color: #FFC535;
    @apply text-2xl;
  }

  .navigation .menu ul.mobile-menu {
    @apply grid grid-cols-1 gap-4 p-12 pr-0;
  }
  
  .protected-layout .sidebar-container-extra,
  .protected-layout .sidebar-container {
    display: none;
  }

  .sidebar-mobile-nav, .sidebar-mobile-nav .mobile-nav {
    display: block;
    background: #000000;
    @apply px-4 py-1;
  }

  .sidebar-mobile-nav .mobile-nav {
    color: #ffffff;
    display: flex;
    @apply items-center;
  }

  .sidebar-mobile-nav .mobile-opt {
    z-index: 200;
    @apply bg-black h-screen p-8 w-2/4;
    color: #ffffff;
    position: absolute;
    top: 80px;
    left: 0;
  }

  .sidebar-mobile-nav .mobile-nav i {
    @apply text-2xl pr-2;
    color: #DAA520;
  }

  .sidebar-mobile-nav .mobile-close {
    color: #FFC535;
    @apply text-2xl text-right;
    display: flex;
    justify-content: flex-end;
  }

  .protected-layout .dashboard-summary {
    @apply grid grid-cols-2;
  }

  .dashboard-box-3 {
    @apply col-span-2;
  }

  .protected-layout .dashboard-section {
    @apply grid grid-cols-1;
  }

  .protected-layout .main-section {
    @apply grid grid-cols-1;
  }
  
  .protected-layout main {
    @apply col-end-5 col-span-3 p-6;
  }

  .protected-layout .dashboard-news {
    border-right: 0;
    @apply pr-0;
  }
}

@media (max-width: 600px) {
  .protected-layout .navigation {
    @apply grid grid-cols-1 content-center items-center justify-items-center gap-2;
  }
  
  .protected-layout .profile-header {
    @apply grid grid-cols-2 justify-self-center pt-3;
  }

  .protected-layout .dashboard-summary {
    @apply grid grid-cols-1;
  }

  .dashboard-box-3 {
    @apply col-span-1;
  }

  .protected-layout .main-section {
    @apply grid grid-cols-1;
  }
  
  .protected-layout main {
    @apply col-end-1 col-span-1;
  }
}
/* End of Protected Layout */
/* purgecss end ignore */
@tailwind  utilities;
