/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

.home-page {
  @apply bg-black text-white min-h-screen p-8 px-40 pt-0;
}

/* Start of Layout Component */
.social {
  @apply pl-2 text-2xl;
}

.newsletter form {
  @apply grid grid-cols-2;
}

.newsletter form label {
  @apply col-start-1 col-span-2 text-sm pt-1;
}

.newsletter form input, .form-box .form-group input, .form-box .form-group select {
  @apply rounded-2xl text-sm px-4 pr-12 border-opacity-25 h-8 w-64 text-gray-600;
  border: 1px solid #DAA520;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
}

.newsletter form input:focus, .form-box .form-group input:focus,
.form-box .form-group select:focus, .option-pills .option-pill button:focus {
  @apply outline-none;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.6)
}

.copyright {
  @apply text-center text-sm py-4;
}

.copyright a, .quick-links a, .contact li span, .newsletter .message {
  @apply text-sm;
  color: #DAA520;
}

.footer-container {
  @apply grid grid-cols-6 gap-12 py-4;
}

.footer-container .contact li, .quick-links li{
  @apply flex text-sm pt-1;
  margin: 0;
}

.footer-container .contact {
  @apply col-start-1 col-span-2;
}

.footer-container .contact .contact-icon {
  @apply pr-2 pt-1;
}

.footer-container .newsletter {
  @apply col-end-7 col-span-2;
}

.footer-container .newsletter .newsletter-icon {
  @apply text-2xl ml-16 w-12;
  color: #DAA520;
}
/* End of Layout Component */

/* Start of Home Component */
.button-link {
  @apply rounded-3xl text-sm p-2 px-12 border-opacity-25;
  border: 1px solid #DAA520;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
}

.home-details {
  @apply text-center p-10 m-10;
}

.home-details h2 {
  @apply text-4xl font-hairline mb-8;
}

.home-details .description {
  @apply m-4 pb-4;
}

.summary {
  @apply flex justify-center gap-24;
}

.summary .circle {
  @apply h-40 w-40 p-4 rounded-full text-sm pt-8;
  border: 2px solid #FFC535;
}

.summary .circle span {
  @apply text-3xl;
  color: #DAA520;
}

.scroll-mouse {
  @apply text-3xl flex justify-center;
  color: #DAA520; 
}

.hero {
  @apply bg-hero-pattern bg-cover bg-center p-8 pt-0 pb-24;
}

.hero h1 {
  @apply text-6xl mt-24 font-hairline;
}

.hero p {
  @apply mb-8;
  color: #DAA520; 
}

.navigation {
  @apply grid grid-cols-2 items-center;
}

.navigation .menu ul {
  @apply inline-flex text-sm;
}

.navigation .menu ul li {
  @apply ml-10;
}

.navigation .menu ul li:active, .navigation .menu ul li.active {
  color: #DAA520;
  border-bottom: 1px solid #FFC535;
  @apply pb-2;
}

@media (max-width: 1200px) {
  .home-page {
    @apply bg-black text-white min-h-screen p-8 px-8;
  }
}

@media (max-width: 800px) {
  .home-page {
    @apply bg-black text-white min-h-screen p-8 px-8;
  }

  .footer-container {
    @apply grid grid-cols-1 mt-16;
  }

  .home-details {
    @apply p-0 m-0 mt-12;
  }

  .summary {
    @apply grid justify-center gap-8;
  }

  .footer-container .contact {
    @apply col-start-1 col-span-1;
  }
  
  .footer-container .newsletter {
    @apply col-end-1 col-span-1;
  }
  
  .footer-container .newsletter .newsletter-icon {
    @apply ml-16;
  }

  .navigation {
    @apply grid grid-cols-1 content-center justify-items-center text-center;
  }

  .hero {
    @apply bg-hero-pattern bg-contain bg-no-repeat bg-center p-8 pt-0 pb-16;
  }
  
  .hero h1 {
    @apply text-5xl mt-12;
  } 
}

@media (max-width: 600px) {
  .navigation .menu ul .no-mobile {
    @apply hidden;
  }

  .hero {
    @apply bg-hero-pattern bg-contain bg-no-repeat bg-center p-8 pt-0 pb-16;
  }
  
  .hero h1 {
    @apply text-4xl mt-8;
  } 
}

/* About Page */
.about-page {
  @apply bg-about-pattern bg-cover bg-center;
}

.about-page .hero, .faq-page .hero, .register-page .hero {
  @apply bg-none;
}

.about-page h1, .faq-page h1 {
  @apply mt-64 mb-8 text-4xl text-center font-hairline;
}

.about-page h6 {
  @apply mt-12 mb-4 text-xl text-center font-hairline;
}

.about-page .about-details ul li::before {
  content: "\2022";
  color: #FFC535;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.about-page .learn {
  @apply mb-24 mt-8 grid justify-items-center;
}
/* End of About page */

/* FAQs page */
.faq-page {
  @apply bg-faq-pattern bg-cover bg-center;
}

.faq-page .faq-details {
  @apply mb-24 mt-12;
}

.faq-question-section {
  @apply grid grid-cols-6 gap-4 items-center pt-6 pb-2;
  border-bottom: 1px solid #FFC535;
}

.faq-question {
  @apply col-start-1 col-span-5;
} 

.faq-show {
  color: #FFC535;
  @apply text-xl justify-self-end col-end-7 col-span-1;
} 

/* End of FAQs page */
/* Register page */
.register-page {
  @apply bg-register-pattern bg-cover bg-center grid grid-cols-1 content-center justify-items-center;
}

.register-page .hero {
  @apply pb-0;
}

.register-page .navigation .menu {
  @apply hidden;
}

.register-page .navigation {
  @apply grid grid-cols-1 content-center justify-items-center text-center;
}

.register-page .footer-container {
  @apply hidden
}

.form-box {
  @apply bg-white rounded-2xl p-8 pt-4 grid grid-cols-1 justify-items-center;
  border: 1px solid #DAA520;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
  width: fit-content;
}

.form-box h1 {
  @apply mb-4 text-3xl text-center font-hairline;
  color: #333333;
}

.form-box label {
  @apply text-sm pl-4 pb-1;
  color: #333333;
}

.form-box .form-input {
  @apply grid grid-cols-2 gap-4;
}

.form-box .form-group input {
  @apply pr-4;
}

.form-box .form-group {
  @apply grid grid-cols-1;
}

.form-box .referral {
  @apply col-span-2;
}

.option-pills {
  @apply flex gap-4 text-sm;
  color: #333333;
}

.option-pills .option-pill {
  @apply px-3 py-1 rounded-2xl text-center;
  background: #FFC535;
  border: 1px solid #FFC535;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 5px rgba(255, 197, 53, 0.25);
}

.form-button {
  @apply grid grid-cols-1 justify-items-center pt-4 col-span-2;
}

.form-link {
  color: #333333;
  @apply text-center text-sm pt-4;
}

@media (max-width: 800px) {
  .form-box .form-input {
    @apply grid grid-cols-1 gap-3 justify-items-center;
  }

  .form-box .referral {
    @apply col-span-1;
  }

  .option-pills {
    @apply grid grid-cols-2 gap-2;
    color: #333333;
  }

  .form-button {
    @apply col-span-1;
  }
}
/* End of Register page */
/* purgecss end ignore */
@tailwind  utilities;